
dist
.solid
.output
.vercel
.netlify
netlify

# Cloudflare Pages functions (https://developers.cloudflare.com/pages/platform/functions)
functions

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
